*.exe
main
testgetters_test
setters_test
addPairElement_test
addPairOrdered_test
subtractPairElement_test
subtractPairOrdered_test
multiplyPairElement_test
multiplyPairOrdered_test
dividePairElement_test
dividePairOrdered_test
powerPair_test
displayPair_test
getInput_test
getRand_test
average_test
maxAndMin_test
standardDev_test
display_test
